<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<%@include file="header.jsp" %>
<html>
  <head>
    <title>Titre de la discussion</title>
  </head>
  <body>
    <div class="header"> </div>
    <div class="boutons"> </div>
    <div class="topic"></div>
    <div class="message">
      <div class=""></div>

</html>
