<!DOCTYPE html>
<html lang="fr">
<head>
	<title>Project L</title>
	<meta charset="utf-8">
	<meta name="author" content="pixelhint.com">
	<meta name="description" content="Sublime Stunning free HTML5/CSS3 website template"/>
	<link rel="stylesheet" type="text/css" href="/ProjetLicence/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/ProjetLicence/css/fancybox-thumbs.css">
	<link rel="stylesheet" type="text/css" href="/ProjetLicence/css/fancybox-buttons.css">
	<link rel="stylesheet" type="text/css" href="/ProjetLicence/css/fancybox.css">
	<link rel="stylesheet" type="text/css" href="/ProjetLicence/css/animate.css">
	<link rel="stylesheet" type="text/css" href="/ProjetLicence/css/main.css">
	
	<script type="text/javascript" src="/ProjetLicence/js/jquery.js"></script>
	<script type="text/javascript" src="/ProjetLicence/js/fancybox.js"></script>
	<script type="text/javascript" src="/ProjetLicence/js/fancybox-buttons.js"></script>
	<script type="text/javascript" src="/ProjetLicence/js/fancybox-media.js"></script>
	<script type="text/javascript" src="/ProjetLicence/js/fancybox-thumbs.js"></script>
	<script type="text/javascript" src="/ProjetLicence/js/wow.js"></script>
	<script type="text/javascript" src="/ProjetLicence/js/main.js"></script>
	<script type="text/javascript" src="/ProjetLicence/js/login.js"></script>
	
	
	
	
	<!--  -->
	<!--  -->
	<!--  -->
	<!--HADOM TA3 LA PAGE MODULE DESCRIPTION BARK!!!!!!!!!!!!!!  -->
	<link rel="stylesheet" href="/ProjetLicence/aui/css/aui.min.css" media="all">
	<script src="/ProjetLicence/aui/js/aui.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/ProjetLicence/css/button.css">
	<!--  -->
	<!--  -->
	<!--  -->
	<!--  -->
	
	
	
	
    
</head>
<body>

  <section class="miniBillboard billboard light">
    <header class="wrapper light">
      
   <!-- LOGO

  <a href="#"><img class="logo" src="img/logo_light.png" alt=""/></a> -->
     <nav>
<ul>
  <li><a href="">About Us</a></li>
  <li><a href="">Products</a></li>
  <li><a href="">Journal</a></li>
  <li><a href="">Contact Us</a></li>
  														<!-- <% if(session.getAttribute("email") != null){%> -->
  														<!--<li><a href=""><%=session.getAttribute("email") %></a></li> -->
  <li><a href="/ProjetLicence/Deconnexion">Se déconnecter</a></li>
  														<!-- <%}else{ %> -->
  <li id="signupContainer"><a class="signup" id="signupButton" href="#"><span>S'inscrire</span></a>
    <div id="signupBox">                
      <form id="signupForm" method="POST" action="/ProjetLicence/Inscription">
	<fieldset id="signupbody">
	  <fieldset>
	    <label for="nom">Nom</label>
	    <input type="text" name="nom" id="signupnom" />
	  </fieldset>
	    <fieldset>
	    <label for="pnom">Prénom</label>
	    <input type="text" name="pnom" id="signuppnom" />
	  </fieldset>
	  <fieldset>
	    <label for="email">Adresse e-mail</label>
	    <input type="text" name="email" id="signupemail" />
	  </fieldset>
	  <fieldset>
	    <label for="password">Choisir un mot de passe</label>
	    <input type="password" name="password" id="signuppassword" />
	  </fieldset>
	  <fieldset>
	    <label for="password">Confirmer le mot de passe</label>
	    <input type="password" name="confpassword" id="signuppassword1" />
	  </fieldset>
	  		  
	  <input type="submit" id="signup" value="S'inscrire" />
	</fieldset>
      </form>
    </div>
    <!-- Login Ends Here -->
  </li>
  <li id="loginContainer"><a class="login" id="loginButton" href="#"><span>S'authentifier</span></a>
    <div id="loginBox">                
      <form id="loginForm" action ="/ProjetLicence/Authentification" method = "POST">
	<fieldset id="body">
	  <fieldset>
	    <label for="email">Adresse e-mail</label>
	    <input type="text" name="email" id="email" />
	  </fieldset>
	  <fieldset>
	    <label for="password">Mot de passe</label>
	    <input type="password" name="password" id="password" />
	  </fieldset>
	  <!-- 
	  <label class="remeber" for="checkbox"><input type="checkbox" id="checkbox" />Se souvenir de moi</label>
	   -->
	  <input type="submit" id="login" value="login" />
	</fieldset>
      </form>
    </div>
    <!-- Login Ends Here -->
  </li>
    											<!--   <% }%>	-->
     </ul>
     </nav>
	</header>	
	<div class="shadow"></div>
</section><!--  End billboard  -->



	<div class="grid" style="font-weight:900;">
		<div class="row">
			<div class="nomModule paintedGradient animated wow fadeInDown animated col-12">
				<h1 id="nomModule">Nom Module</h1> <!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
			</div>
		</div>
		<div class="row">
			<div class="descriptionModule col-8">
				<h2>Informations sur le module</h2>        <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
				
				<div class="infoModuleSection">
					<p>Date de Creation:</p>                             <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
					<p>Niveau:</p>										<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
				</div>
				
				<h2>Le sommaire du module</h2>												<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
				
				<p>HTML and CSS are markup languages and the building blocks
					that make up the web. This course is called "Not your Typical
					Intro" because it does not follow the usual pattern of other
					courses and tutorials that you find on the Internet. Usually HTML
					and CSS are taught with a focus on language syntax. But knowing
					syntax alone does not enable you to create a webpage from a design.
					You need to know where to start and how to approach the task, in
					other words - you need to learn how to think like a front-end
					developer.</p>
				<p>In this course you will learn how to convert digital design
					mockups into static web pages. We will teach you how to approach
					page layout, how to break down a design mockup into page elements,
					and how to implement that in HTML and CSS.</p>
				<p>You will also learn about responsive design techniques, which
					are increasingly important in a world where mobile devices and TV
					screens are used more and more often to look for information and
					entertainment.</p>
				<p>HTML and CSS are markup languages and the building blocks
					that make up the web. This course is called "Not your Typical
					Intro" because it does not follow the usual pattern of other
					courses and tutorials that you find on the Internet. Usually HTML
					and CSS are taught with a focus on language syntax. But knowing
					syntax alone does not enable you to create a webpage from a design.
					You need to know where to start and how to approach the task, in
					other words - you need to learn how to think like a front-end
					developer.</p>
				<p>In this course you will learn how to convert digital design
					mockups into static web pages. We will teach you how to approach
					page layout, how to break down a design mockup into page elements,
					and how to implement that in HTML and CSS.</p>
				<p>You will also learn about responsive design techniques, which
					are increasingly important in a world where mobile devices and TV
					screens are used more and more often to look for information and
					entertainment.</p>
				<p>HTML and CSS are markup languages and the building blocks
					that make up the web. This course is called "Not your Typical
					Intro" because it does not follow the usual pattern of other
					courses and tutorials that you find on the Internet. Usually HTML
					and CSS are taught with a focus on language syntax. But knowing
					syntax alone does not enable you to create a webpage from a design.
					You need to know where to start and how to approach the task, in
					other words - you need to learn how to think like a front-end
					developer.</p>
				<p>In this course you will learn how to convert digital design
					mockups into static web pages. We will teach you how to approach
					page layout, how to break down a design mockup into page elements,
					and how to implement that in HTML and CSS.</p>
				<p>You will also learn about responsive design techniques, which
					are increasingly important in a world where mobile devices and TV
					screens are used more and more often to look for information and
					entertainment.</p>
				<p>HTML and CSS are markup languages and the building blocks
					that make up the web. This course is called "Not your Typical
					Intro" because it does not follow the usual pattern of other
					courses and tutorials that you find on the Internet. Usually HTML
					and CSS are taught with a focus on language syntax. But knowing
					syntax alone does not enable you to create a webpage from a design.
					You need to know where to start and how to approach the task, in
					other words - you need to learn how to think like a front-end
					developer.</p>
				<p>In this course you will learn how to convert digital design
					mockups into static web pages. We will teach you how to approach
					page layout, how to break down a design mockup into page elements,
					and how to implement that in HTML and CSS.</p>
				<p>You will also learn about responsive design techniques, which
					are increasingly important in a world where mobile devices and TV
					screens are used more and more often to look for information and
					entertainment.</p>
					
				<h2>Les enseignants de Module</h2>
				
				<div class="instructorsSection">
					<ul class="listeInstructors">
					
						<li class="animated wow fadeInDown animated">
							<div class="imageInstructor">
								<img class="avatar" src="http://www.placehold.it/150x150" height="150" width="150">					<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
								<span class="triangle"></span>
							</div> 
							
							<div class="instructor_details">
								<h4>John Doe</h4>						<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
								<h5>Responsable</h5>					<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
							</div>
						</li>
						
						<li class="animated wow fadeInDown animated">
							<div class="imageInstructor">
								<img class="avatar" src="http://www.placehold.it/150x150" height="150" width="150">         <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
								<span class="triangle"></span>
							</div> 
							<div class="instructor_details">
								<h4>Alex Martin</h4>				<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
								<h5>Auteur</h5>					<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
							</div>
							<button type="button" id="assign-auteur" class="aui-button defaultFont"><span class="aui-icon aui-icon-small aui-iconfont-space-personal"></span> Assigner un auteur</button>
						</li>
						
						<li class="animated wow fadeInDown animated">
							<div class="imageInstructor">
								<img class="avatar" src="http://www.placehold.it/150x150" height="150" width="150">						<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
								<span class="triangle"></span>
							</div> 
							<div class="instructor_details">
								<h4>Linda Doe</h4>							<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
								<h5>Tuteur</h5> 									<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
							</div>
							<button type="button" id="assign-tuteur" class="aui-button defaultFont"><span class="aui-icon aui-icon-small aui-iconfont-space-personal"></span> Assigner un tuteur</button>
						</li>
						
					</ul>
				</div>
			</div>
			<div class="moduleMaterialsSection col-4 animated wow fadeInDown animated">
					<h3>Accéder aux ressources de module:</h3>
					<img src="http://www.placehold.it/230x230" height="230" width="230">
					<a class="button button-blue" href="#">S'inscrire</a>
			</div>
		</div>
	</div>
	
	
	
	
	<!-- *********************************************************************************************************************************************************** -->
	<!-- *********************************************************************************************************************************************************** -->
	
	<section role="dialog" id="tuteur-dialog" class="defaultFont aui-layer aui-dialog2 aui-dialog2-medium" aria-hidden="true">
    <header class="aui-dialog2-header">
        <!-- The dialog's title -->
        <h2 class="aui-dialog2-header-main">Choisir le tuteur</h2>
        <!-- Close icon -->
        <a class="aui-dialog2-header-close">
            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
        </a>
    </header>
    <!-- Main dialog content -->
    <form action="">
    <div class="aui-dialog2-content paintedGradient" style="overflow-y: auto; height: 190px !important;">
        <table class="aui">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>E-mail</th>
                    <th>Choisir</th>
                </tr>
            </thead>
            <tbody>
            	<tr>
               		<td>Madam</td>
                	<td>Linda</td>
                    <td>l@exemple.com</td>
                    <td><input type="radio" name="tuteur" checked value="l@exemple.com"/></td>
                    <td></td>
                </tr>
                <tr>
               		<td>Madam</td>
                	<td>Dalila 1</td>
                    <td>d1@exemple.com</td>
                    <td><input type="radio" name="tuteur" value="d1@exemple.com"/></td>
                    <td></td>
                </tr>
                <tr>
               		<td>Madam</td>
                	<td>Dalila 2</td>
                    <td>d2@exemple.com</td>
                    <td><input type="radio" name="tuteur" value="d2@exemple.com"/></td>
                    <td></td>
                </tr>
                <tr>
               		<td>Madam</td>
                	<td>Dalila 3</td>
                    <td>d3@exemple.com</td>
                    <td><input type="radio" name="tuteur" value="d3@exemple.com"/></td>
                    <td></td>
                </tr>
                <tr>
               		<td>Madam</td>
                	<td>Dalila 4</td>
                    <td>d4@exemple.com</td>
                    <td><input type="radio" name="tuteur" value="d4@exemple.com"/></td>
                    <td></td>
                </tr>
                <tr>
               		<td>Madam</td>
                	<td>Dalila 1</td>
                    <td>d1@exemple.com</td>
                    <td><input type="radio" name="tuteur" value="d1@exemple.com"/></td>
                    <td></td>
                </tr>
                <tr>
               		<td>Madam</td>
                	<td>Dalila 1</td>
                    <td>d1@exemple.com</td>
                    <td><input type="radio" name="tuteur" value="d1@exemple.com"/></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Dialog footer -->
    <footer class="aui-dialog2-footer">
        <!-- Actions to render on the right of the footer -->
        <div class="aui-dialog2-footer-actions">
        	<input type="submit" class="aui-button aui-button-link" value="Assigner">
            <button id="tuteur-close-button" class="aui-button aui-button-link">Close</button>
        </div>
        <!-- Hint text is rendered on the left of the footer -->
    </footer>
    </form>
</section>

<section role="dialog" id="auteur-dialog" class="defaultFont aui-layer aui-dialog2 aui-dialog2-medium" aria-hidden="true">
    <header class="aui-dialog2-header">
        <!-- The dialog's title -->
        <h2 class="aui-dialog2-header-main">Choisir l'auteur</h2>
        <!-- Close icon -->
        <a class="aui-dialog2-header-close">
            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
        </a>
    </header>
    <!-- Main dialog content -->
    <form action="">
    <div class="aui-dialog2-content paintedGradient" style="overflow-y: auto; height: 190px !important;">
    	<table class="aui">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>E-mail</th>
                    <th>Choisir</th>
                </tr>
            </thead>
            <tbody>
            	<tr>
               		<td>Madam</td>
                	<td>Linda</td>
                    <td>l@exemple.com</td>
                    <td><input type="radio" name="tuteur" checked value="l@exemple.com"/></td>
                    <td></td>
                </tr>
                <tr>
               		<td>Madam</td>
                	<td>Dalila 1</td>
                    <td>d1@exemple.com</td>
                    <td><input type="radio" name="tuteur" value="d1@exemple.com"/></td>
                    <td></td>
                </tr>
                <tr>
               		<td>Madam</td>
                	<td>Dalila 2</td>
                    <td>d2@exemple.com</td>
                    <td><input type="radio" name="tuteur" value="d2@exemple.com"/></td>
                    <td></td>
                </tr>
                <tr>
               		<td>Madam</td>
                	<td>Dalila 3</td>
                    <td>d3@exemple.com</td>
                    <td><input type="radio" name="tuteur" value="d3@exemple.com"/></td>
                    <td></td>
                </tr>
                <tr>
               		<td>Madam</td>
                	<td>Dalila 4</td>
                    <td>d4@exemple.com</td>
                    <td><input type="radio" name="tuteur" value="d4@exemple.com"/></td>
                    <td></td>
                </tr>
                <tr>
               		<td>Madam</td>
                	<td>Dalila 1</td>
                    <td>d1@exemple.com</td>
                    <td><input type="radio" name="tuteur" value="d1@exemple.com"/></td>
                    <td></td>
                </tr>
                <tr>
               		<td>Madam</td>
                	<td>Dalila 1</td>
                    <td>d1@exemple.com</td>
                    <td><input type="radio" name="tuteur" value="d1@exemple.com"/></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Dialog footer -->
    <footer class="aui-dialog2-footer">
        <!-- Actions to render on the right of the footer -->
        <div class="aui-dialog2-footer-actions">
        	<input type="submit" class="aui-button aui-button-link" value="Assigner">
            <button id="auteur-close-button" class="aui-button aui-button-link">Close</button>
        </div>
    </footer>
    </form>
</section>
	
	
	
	
	
	
	<script type="text/javascript">
	// Shows the dialog when the "Show dialog" button is clicked
	AJS.$("#assign-tuteur").click(function() {
	    AJS.dialog2("#tuteur-dialog").show();
	});
	AJS.$("#assign-auteur").click(function() {
	    AJS.dialog2("#auteur-dialog").show();
	});

	// Hides the dialog
	AJS.$("#auteur-close-button").click(function(e) {
	e.preventDefault();
	    AJS.dialog2("#auteur-dialog").hide();
	});
	AJS.$("#tuteur-close-button").click(function(e) {
	e.preventDefault();
		AJS.dialog2("#tuteur-dialog").hide();
	});

	// Show event - this is triggered when the dialog is shown
	AJS.dialog2("#demo-dialog").on("show", function() {
	    console.log("demo-dialog was shown");
	});

	// Hide event - this is triggered when the dialog is hidden
	AJS.dialog2("#demo-dialog").on("hide", function() {
	    console.log("demo-dialog was hidden");
	});

	// Global show event - this is triggered when any dialog is show
	AJS.dialog2.on("show", function() {
	    console.log("a dialog was shown");
	});

	// Global hide event - this is triggered when any dialog is hidden
	AJS.dialog2.on("hide", function() {
	    console.log("a dialog was hidden");
	});
	</script>
	
	
	
	
	
	
	
	
	
<!-- FOOTER -->

	<footer>
		<div class="wrapper">
			<div class="rights">
				<p>Â©</p>
			</div>

			<nav>
				<ul>
					<li><a href="#">About</a></li>
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</nav>
		</div>		
	</footer><!--  End footer  -->
    <script src='../ga.js'></script>
</body>
</html>
	
	
	
	
	
	
