@CHARSET "UTF-8";

.button {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-weight: bold;
	text-transform: uppercase;
	transition: all 0.25s ease 0s;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	/*-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;*/
	padding:16px 38px; 
	box-shadow:0 -4px 0 rgba(0, 0, 0, 0.16) inset;
	width: 280px;
}




.button-blue {
	background-color: #1f8fc1;
	border-color:#1F8FC1;
	color: #F8F8F8;
}
.button-blue:hover,.button-blue:focus {
	background-color: #6DBBDF;
	color: #F8F8F8;
}





.button-orange {
	background-color: #F97307;
	color: #F8F8F8;
}
.button-orange:hover,.button-orange:focus {
	background-color: #C95E08;
	color: #F8F8F8;
}

.button:hover,.button:focus {
	color: #F8F8F8;
	text-decoration: none
}

