/*

Index du css :

	-grid
	- description module	
    - fonts
    - general css
    - billboard
    - header
    - services
    - video
    - testimonials
    - blog posts
	- footer
	
*/

/*divers*/

.result{
	margin-top : 15px;
}

.errors{
	margin-bottom : 15px;
}

/* grid */

/*
* {
    border: 1px solid red !important;
}

*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.grid {
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
}



.img{
	width:225;
	height:125 ;
	max-width : 225 ; 
	margin : 0px 0px 20px 0px ; 
}

.logo{
	width : 100px ;
	height : 100px ;
	margin : 0px 0px 20px 0px ; 
}



.description p{
    max-height : 150px ; 
    overflow : auto ;
}


.description{
	margin : 10px 10px 10px 10px;

}
.row {
    width: 100%;
    margin-bottom: 20px;
	display : flex ;
	align-items : flex-start ; 
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}


/*******************************************************************************/
/* Description module **********************************************************/
/*******************************************************************************/


.grid, .grid .instructorsSection {
	padding: 5px;
	display: flex;
	/*border: 1px solid #00F;*/
	flex-flow: column nowrap;
}

#nomModule {
	font-size: 29px;
	text-align: center;
}

.descriptionModule h2, .notes h3, .contenu h3, .viewLeft h3, .faq h3 {
	margin-top: 50px;
	margin-bottom: 15px;
	color: #307699;
}

.descriptionModule p, .notes, .contenu, .viewLeft, .faq {
	margin-top: 20px;
	margin-bottom: 15px;
	font-family: "raleway-regular";
	font-weight: bold;
	line-height: 23px;
}

.paintedGradient, .grid > div {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #dfdfdf;
	text-shadow: 0 1px 0 #fff;
	background: #f9f9f9;
	background: -moz-linear-gradient(top, #f9f9f9 0%, #ededed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#ededed));
	background: -webkit-linear-gradient(top, #f9f9f9 0%,#ededed 100%);
	background: -o-linear-gradient(top, #f9f9f9 0%,#ededed 100%);
	background: -ms-linear-gradient(top, #f9f9f9 0%,#ededed 100%);
	background: linear-gradient(to bottom, #f9f9f9 0%,#ededed 100%);
}


.instructorsSection, .descriptionViewer {
	background-color: #fff;
	border: 1px solid #dcdcdc;
	border-radius: 2px;
	
	background: -moz-linear-gradient(top, #EFEFEF 0%, rgba(255, 255, 255, 1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(22%,#EFEFEF), color-stop(100%,rgba(255, 255, 255, 1)));
	background: -webkit-linear-gradient(top, #EFEFEF 22%,rgba(255, 255, 255, 1) 100%);
	background: -o-linear-gradient(top, #EFEFEF 22%,rgba(255, 255, 255, 1) 100%);
	background: -ms-linear-gradient(top, #EFEFEF 22%,rgba(255, 255, 255, 1) 100%);
	background: linear-gradient(to bottom, #EFEFEF 22%,rgba(255, 255, 255, 1) 100%);
}

.instructorsSection .instructor_details {
	background-color: #fff;
	border-radius: 50px;
	
	background: -moz-linear-gradient(top, rgba(239, 239, 239, 0.44) 0%, rgba(255, 255, 255, 1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(22%,rgba(239, 239, 239, 0.44)), color-stop(100%,rgba(255, 255, 255, 1)));
	background: -webkit-linear-gradient(top, rgba(239, 239, 239, 0.44) 22%,rgba(255, 255, 255, 1) 100%);
	background: -o-linear-gradient(top, rgba(239, 239, 239, 0.44) 22%,rgba(255, 255, 255, 1) 100%);
	background: -ms-linear-gradient(top, rgba(239, 239, 239, 0.44) 22%,rgba(255, 255, 255, 1) 100%);
	background: linear-gradient(to bottom, rgba(239, 239, 239, 0.44) 22%,rgba(255, 255, 255, 1) 100%);
	padding: 10px;
	
}


.listeInstructors li {
    display: inline-block;
    float: left !important;
    margin-left: 8% !important;
    margin-right: auto;
    margin-top: 20px;
    
}


.imageInstructor {
    margin-bottom: 20px;
    border-bottom: 1px solid #DDDDDD;
    position: relative;
    padding-bottom: 16px;
}
.imageInstructor img{
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.triangle{
    display: block;
    width: 10px;
    height: 5px;
    background: url('../img/testimonial_triangle.png') no-repeat;
    position: absolute;
    top: 100%;
    right: 47%;
}


.instructor_details h4{
	text-align: center;
}

.instructor_details h5 {
	font-style: italic;
	color: #C7C7C7;
}

.instructor_details h5 {
	margin-bottom: 0px;
}

.instructor_details h5::FIRST-LETTER {
	font-weight: 900;
	font-size: large;
	color: #8B8B8B;
}


/**********************************************************/
.moduleMaterialsSection {
	margin-top: 62px;
	border-left:solid 3px #dcdcdc;
	padding-left: 23px !important;
	padding-top: 30px !important;
	margin-left: 37px;
}




.moduleMaterialsSection > * {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 42px;
}

/**********************************************************/




.formulaire.col-8, .frame-creation-test, frame-notes {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 2px;
    padding-left: 20px;
    padding-right: 20px;
}

.formulaire h1,.frame-creation-test h1 {
    margin-bottom: 50px;
}

.formulaire .field-group label, .formulaire div label {
	float: left;
	width: 180px !important;
	text-align: right;
	margin-right: 24px;
	line-height: 2.8;
}

.formulaire form, .frame-creation-test from{
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 4%;
}

.formulaire input[type="submit"] {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 6px;
  margin-top: 42px;
}
.modificationForm div input,.modificationForm select  {
	width: 50%;
	display: block;
	height: 33px;
	padding: 4px 12px;
	font-size: 14px;
	line-height: 1.7;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow
		ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


.formulaire #nameModule {
	width: 300px;
}

.formulaire .field-group{
	margin-bottom : 20px;
	margin-left: auto;
	margin-right: auto;
}

.modificationForm  div{
	margin-bottom : 20px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}


.descriptionFactory {
    margin-top: 40px;
}

.descriptionFactory, .descriptionViewer {
    border: 1px solid rgb(232, 232, 232);
    border-radius: 2px;
    background-color: white;
    margin-bottom: 20px;
}

.descriptionFactory span{
	margin : 1px;
	padding: 5px;
}

.descriptionFactory span:HOVER{
	padding: 4px;
	border: 1px solid rgba(0, 0, 255, 0.2);
	background-color: rgba(0, 0, 255, 0.15);
}

.descriptionControl{
	text-align: center;
}

.descriptionViewer {
    width: 98%;
    height: 500px;
    margin-left: auto;
    margin-top: 20px;
    margin-right: auto;
}



/*******************************************************************************/
/* Page module *****************************************************************/
/*******************************************************************************/




.hiddingListeStyle {
	list-style: none;
}

.moduleControl > h1 {
	padding-left: 20px;
}

.moduleControl > div {
    color: black;
    margin-bottom: auto;
    margin-top: auto;
  /*  display: table; */
    width: 79%;
    text-align: right;
}

.nav.col-3 {
    border-right: 1px solid rgb(210, 210, 210);
}

.nav a {
	font-family: fantasy;
	text-decoration: none;
	color: black;
	padding: 20px 20px 20px 20px;
	display: block;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
}

.nav a:HOVER, .nav a:ACTIVE {
	padding-left: 30px;
	border-right: 10px solid grey;	
}




.dropdown {
    position: relative;
    display: inline;
}

.dropdown .dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	font-size: 14px;
	background-color: #fff;
	border: 1px solid #b3b3b3;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 0;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	background-clip: padding-box;
	margin-top: 10px;
	
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/** Button Styles **/
.dropdown button {
	display: inline-block;
	cursor: pointer;
	white-space: nowrap;
	padding: 4px 40px;
	font-size: 14px;
	line-height: 1.7;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none border-color: #b3b3b3;
	background-color: white;
	border:1px solid rgb(205, 205, 205);
	border-radius: 4px;
}


.dropdown button:hover{
	background-color: rgb(242, 242, 242);
}



/** List Item Styles **/
.dropdown-menu a, .dropdown button {
	display: block;
	padding: 0.2em 0.8em;
	text-decoration: none;
	color: #333333;
	margin-top: 20px;
	margin-bottom: 15px;
	font-family: "raleway-regular";
	font-weight: bold;
	line-height: 23px;
	background-color: transparent !important;
}

/** List Item Hover Styles **/
.dropdown-menu li:hover, .dropdown-menu a:hover {
	text-decoration: none !important;
	color: #666 !important;
	background-color: #dfeaf1 !important;
}

a#courseName {
    float: left;
    overflow: visible !important;
    white-space: nowrap !important;
}

a.courseTouls {
    float: right;
}

.dropdown-menu li {
    display: table-row !important;
    /* white-space: pre-wrap !important; */
    /* text-overflow: ellipsis !important; */
}

.dropdown-menu button {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

section.ressourcesViewSection.col-9 {
    padding-left: 20px;
    padding-top: 10px;
}

.ressourcesViewSection > div {
	margin-top: 20px;
}
.lessonParts {
	white-space: nowrap;
	position: relative;
	margin-top: 70px !important;
	overflow-x: auto;
	overflow-y: hidden;
}

.lessonParts li {
    display: inline-block;
}

.lessonParts a {
	margin-right: -4px;
	margin-left: 1px;
	width: 55px;
	height: 20px;
	background-color: #8dc5d8;
	display: inline-block;
	text-decoration: none;
	text-align: right;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	line-height: 0;	
}

.lessonParts a::AFTER {
	content: ".";
	font-size: 75px;
	position:  relative;
	top: -10px;
}

.lessonParts a:HOVER {
	background-color: #145e7f;
	text-decoration: none;
}

.view {
	background-color: white;
	border: 1px solid gray;
	border-radius: 2px;
	box-sizing: initial;
	width: 720px;
	margin: auto;
}

.viewLeft, .notes {
	padding-left: 20px;
}

.contenu a, .viewLeft a {
	display: inline-table !important;
	margin: 3px !important;
	color : #303030;
	font-weight: normal !important;
	white-space: normal !important;
}

.notes h3, .contenu h3, .viewLeft h3, .faq h3 {
	margin-top: 20px;
}
	




/*******************************************************************************************/
/*******************************************************************************************/
/*******************************************************************************************/
/*******************************************************************************************/
/*******************************************************************************************/
/*******************************************************************************************/
/*******************************************************************************************/
/*******************************************************************************************/
/*******************************************************************************************/
/*******************************************************************************************/



.defaultFont {
	font-family:Arial,sans-serif !important;
}


.tipsy{
	font-family:Arial,sans-serif !important;
	font-size:  15px !important;
}

/*******************************************************************************************/
/*******************************************************************************************/
/*******************************************************************************************/
/*******************************************************************************************/
/*******************************************************************************************/
/*******************************************************************************************/




div[id^="question"] {
	border: 1px solid #ccc;
    border-radius: 3px;
    margin: 10px 0 20px 0;
    padding: 20px;
}

div[id^="question"] h3 {
    display: inline;
}
div[id^="question"] label {
	margin-left: -110px !important;
}

.question-commandes {
    float: right;
}

.reponses input {
    position: absolute;      top: 22px;      right: 130px;
}
.reponses span {    font-size: 13px;    font-style: italic;    position: absolute;    top: 24px;    right: 73px;
}

.formTest div[id^="question"] .field-group {
    padding-left: 0px !important;
}

.formTest div[id^="question"] label {
    width: 260px !important;
}


header.qestion-header {
    padding: 20px;
    height: 90px !important;
}

form.formTest, .coursComposants, .coursComposants > div, #moyenneNotes, #moyenneNotes > div {
	margin-left: auto !important;
	margin-right: auto !important;
	border: 1px solid gainsboro;
	border-radius: 3px;
	padding: 37px !important;
	background-color: white;
	margin-bottom: 45px !important;
}

#question-maker, #contenu-maker {
	margin-bottom: 20px;
}



button.remover {
    /* position: relative; */
    top: 19px;
    float: right;
    right: 35px;
}






.coursComposants label {
    float: none !important;
    display: inline !important;
    margin-left: 64px !important;
    margin-right: auto !important;
}

.coursComposants fieldset.group {
    padding-left: 0px !important;
    border-bottom: 1px dashed rgb(161, 161, 161);
    padding-bottom:  15px !important;
    margin-bottom:  25px !important;
    
}

#publierContenu legend, #supprimerContenu legend {
	float: none !important;
	margin-left: 0px !important;
	text-align: left;
	width: inherit !important;
	margin-bottom: 5px;
}

input#file {
    border: 1px solid gainsboro;
    border-radius:  3px;
    padding: 10px;
    margin-left: 72px !important;
    margin-right: auto !important;
    display: block;
    background-color: white;
}

legend#lastLegend {
    margin-bottom: 25px;
}

div#publierContenu {
    overflow: auto;
}

button#contenu-remover {
    text-indent: initial;
}


#supprimerContenu legend {
    margin-bottom: 30px;
}



#supprimerContenu fieldset.group {
    border-bottom: 0px;
}


#supprimerContenu a {
	font-weight: normal;
}

.coursComposants h2, #moyenneNotes h3 {
	margin-bottom: 30px;
	font-weight: bold;
}




/**************************************************************************/
/**************************************************************************/

button#assign-tuteur, button#assign-auteur {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
    margin-top: 30px;
    margin-bottom: 20px;
}




/***************************************************************/
/***************************************************************/


.chart {
	position: relative;
	display: inline-block;
	width: 185px;
	height: 185px;
	margin: 30px 0;
	text-align: center;
}

.percent {
	display: inline-block;
	margin-left: 24px;
	font-size: 50px;
	line-height: 185px;
	z-index: 2;
}

.percent:after {
	content: '%';
	position: relative;
	top: -16px;
	font-size: 0.6em;
}

.chart canvas {
	position: absolute;
	top: 0;
	left: 0;
}






#per:after {
	content: '/20';
	position: relative;
	top: -12px;
	font-size: 15px;
}




.aui-dialog2-modification .aui-dialog2-header {
	background-color: #f6c342;
	border-bottom-color: #f6c342;
	color: #909090;
}



/*****************************************************************/
/*****************************************************************/

.aui-message p.title {
    text-align: left;
}

.aui-message.aui-message-error {
    margin-bottom: 80px;
}

#options-table * {
    border: 0px !important;
    background-color: inherit !important;
}

#options-table {
    margin: 15px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

/********************************************************************/






#form-creation-cours label {
    width: 277px !important;
}










/*  Fonts  */
@font-face {
    font-family: 'raleway-regular';
    src: url('../fonts/raleway-regular.eot');
    src: url('../fonts/raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular.woff') format('woff'),
         url('../fonts/raleway-regular.ttf') format('truetype'),
         url('../fonts/raleway-regular.svg#raleway-regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway-semibold';
    src: url('../fonts/raleway-semibold.eot');
    src: url('../fonts/raleway-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-semibold.woff') format('woff'),
         url('../fonts/raleway-semibold.ttf') format('truetype'),
         url('../fonts/raleway-semibold.svg#raleway-semibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway-bold';
    src: url('../fonts/raleway-bold.eot');
    src: url('../fonts/raleway-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-bold.woff') format('woff'),
         url('../fonts/raleway-bold.ttf') format('truetype'),
         url('../fonts/raleway-bold.svg#raleway-bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'church';
    src:  url('../fonts/church.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


/*  General CSS*/
body{
    background: #fff;
}

.wrapper{
    width: 1100px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5 ,h6{
    color: #626262;
    font-family: "raleway-regular", arial;
    letter-spacing: 1px;
}

h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.17em; margin: .83em 0 }
h5              { font-size: .83em; margin: 1.5em 0 }
h6              { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6          { font-weight: bolder }

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
 
.clearfix {  
    *zoom: 1;  
}




#loginContainer, #signupContainer {
    position:relative;
    float: left;
}

/* Login Button */
#loginButton, #signupButton{ 
    display: inline-block;
	float: right;
	z-index: 30;
	top: -3px;
	cursor: pointer;
}
/* Login Button Text */

/* Login Box */
#loginBox, #signupBox {
    position: absolute;
	top: 66px;
	right: 0;
	display: none;
	z-index: 999;
}

.active span:hover{
	color:#FFF;
}
/* Login Form */
#loginForm,#signupForm {
    width: 270px;
	z-index: 999;
}

#signupPage, #loginPage{
    width: 30%;
	display: flex;
	flex-wrap : wrap ;
    margin-left: auto;
    margin-right: auto;
	z-index: 999;
}

#loginForm fieldset, #signupForm fieldset {
    margin:0 0 0px 0;
    display:block;
    border:0;
    padding:0;
}
fieldset#body, fieldset#signupbody {
    background:rgba(255,255,255,0.5);
    padding:10px 13px;
    margin:0;
    border-radius : 15px;
}
#loginForm #checkbox, #signupForm #checkbox {
    width:auto;
    margin: 7px 9px 0 0;
    float:left;
    padding:0;
    border:0;
    *margin:-3px 9px 0 0; /* IE7 Fix */
}

#body label{
    color:aliceblue;
    display:block;
    float:left;
    line-height: 1.5em;
}

#signupPage #signupbody fieldset label, #loginPage #body fieldset label{
	color: black;
	font-size: 0.875em;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	line-height: 1.5em;
}

#loginForm #body fieldset label, #signupForm #signupbody fieldset label{
    display: block;
	color: aliceblue;
	font-size: 0.875em;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	line-height: 1.5em;
}
/* Default Input */
#loginForm input, #signupForm input, #signupPage input, #loginPage input{
    width: 93.6%;
	color: #3a454d;
	padding: 8px 8px;
	margin: 0.3em 0;
	border: 1px solid #D8D8D8;
	font-size: 0.875em;
	font-family: 'open_sansregular';
	transition: border-color 0.5s all;
	-webkit-transition: border-color 0.5s all;
	-moz-transition: border-color 0.5s all;
	-o-transition: border-color 0.5s all;
	border-radius: 0.15em;
	-webkit-border-radius: 0.15em;
	-moz-border-radius: 0.15em;
	-o-border-radius: 0.15em;
}
#loginForm input:hover, #signupForm input:hover, #signupPage input:hover, #loginPage input:hover{
	border: 1px solid #999;
} 
.remeber{
	margin-top:0.5em;
}
/* Sign In Button */
#loginForm #login, #signupForm #signup, #signupPage #signup, #loginPage #login {
    color: royalblue;
	font-size: 0.875em;
	font-weight: normal;
	padding: 10px 15px;
	text-transform: uppercase;
	background:aliceblue;
	display: inline-block;
	width: 100%;
	cursor:pointer;
	margin: 1em 0 0 0;
	border: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	border-radius: 0.15em;
	-webkit-border-radius: 0.15em;
	-moz-border-radius: 0.15em;
	-o-border-radius: 0.15em;
}
#loginButton span:hover, #signupButton span:hover{
	color:#FFF;
}
#loginForm #login:hover, #signupForm #signup:hover, #signupPage #signup:hover, #loginPage #login:hover{
	background:rgb(199, 229, 255);
}

#loginForm span a, #signupForm span a, #signupPage span a, #loginPage span a{
    color: #777;
	font-size: 0.875em;
}



/* Billboard */

.search{
	text-align:right;
}


.billboard{
    width: 100%;
    height: 690px;
    position: relative;
}

.miniBillboard{
    height: 225px !important;
}


.billboard.light{
    background: url('/ProjetLicence/img/billboard2.jpg') no-repeat;   
     
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.billboard.dark{
    background: url('/ProjetLicence/img/billboard.jpg') no-repeat;
    
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


.billboard .shadow{
    position: absolute;
    width: 100%;
    height: 142px;
    bottom: 0;
    left: 0;
    margin-bottom: -1px;
    background: url('/ProjetLicence/img/shadow.png') repeat-x;
}

.billboard .caption{
    margin-top: 130px;
    text-align: center;
}

.billboard .caption.light{
    color: #fff;
}

.billboard .caption.dark{
    color: #5d5d5d;
}

.billboard .caption h1{
    font-family: "church";
    font-size: 77px;
    font-weight: bold; 
    margin-bottom: 30px;
}

.billboard .caption.light h1{
    color: #fff;
}

.billboard .caption.dark h1{
    color: #5d5d5d;
}

.billboard .caption p{
    font-family: "raleway-regular";
    font-size: 18px;
    margin-bottom: 30px;
}

.billboard .caption.light p{
    color: #fff;
}

.billboard .caption.dark p{
    color: #5d5d5d;
}

.billboard .caption hr{
    display: inline-block;
    height: 1px;
    width: 30px;
    border: 0!important;   
    margin: 0;
    padding: 0;
}

.billboard .caption.light hr{
    background: #fff;
}

.billboard .caption.dark hr{
    background: #5d5d5d;
}






/*    header    */
header{
    width: 100%;
    height: 125px;
}

header .logo{
    float: left;
    margin-top: 50px;
}

header nav{
    float: right;
    margin-top: 57px;
}


header nav ul li{
    list-style: none;
    display: block;
    float: left;
    margin-left: 50px;
}

header nav ul li a{
    text-decoration: none;  
    font-family: "raleway-regular";
    font-size: 14px;

    transition:all .2s linear;
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -o-transition:all .2s linear;
}

header.light nav ul li a{  
    color: #fff;
}

header.light nav ul li a:hover{
    color: #B9B9B9;
}

header.dark nav ul li a{  
    color: #5d5d5d;
}

header.dark nav ul li a:hover{
    color: #919191;
}







/*    Services    */
.services ul{
    margin-top: 100px;
}

.services ul li{
    list-style: none;
    display: block;
    width: 313px;
    float: left;
    margin-left: 80px;
    text-align: center;
}

.services ul li:first-child{
    margin-left: 0;
}

.services ul li .separator{
    display: block;
    width: 1px;
    height: 20px;
    background: #f6f6f6;
    margin: 20px auto;
}

.services ul li h2{
    color: #616161;
    font-family: "raleway-bold";
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.services ul li p{
   color: #838181;
    font-family: "raleway-regular";
    font-size: 14px;
    line-height: 28px; 
    margin-top: 40px;
    letter-spacing: .5px;
}







/*    Video    */
.video{
    display: block;
    width: 100%;
    height: 350px;
    text-align: center;
    margin-top: 100px;
    background: url('/ProjetLicence/img/video.jpg') no-repeat;    
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.video .video_logo{
    margin-top: 85px;
}

.video h3{
    color: #fff;
    font-family: "raleway-regular";
    font-size: 14px;
    font-weight: normal!important;
    margin: 20px 0 0 0;
}

.video #play_btn{
    display: inline-block;
    width: 71px;
    height: 71px;
    background: url('/ProjetLicence/img/play_btn.png') no-repeat;
    margin-top: 40px;
}




.title{
    text-align: center;
    overflow: hidden;
}

.title h2{
    color: #616161;
    font-family: "raleway-bold";
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 20px 0;
    text-transform: uppercase;
}

.title h3{
    color: #9b9b9b;
    font-family: "raleway-regular";
    font-size: 14px;
    margin: 0 0 20px 0;
    font-weight: normal!important;
}

.title hr.separator{
    display: block;
    width: 40px;
    height: 1px;
    background-color: #ebebeb;
    margin: 0 auto;
    padding: 0;
    border: 0!important;
}







/*    testimonials    */
.testimonials{
    margin-top: 100px;
}

.testimonials ul{
    margin-top: 70px;
    list-style: none;
}

.testimonials ul li{
    display: block;
    float: left;
    margin-left: 80px;
    width: 313px;
}

.testimonials ul li:first-child{
    margin-left: 0;
}

.testimonials ul li .quotes{
    margin-right: 10px;
}

.testimonials ul li p{
    color: #838181;
    font-family: "raleway-regular";
    font-size: 16px;
    line-height: 28px;
    letter-spacing: .5px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ecebeb;
    position: relative;
}

.testimonials ul li p .triangle{
    display: block;
    width: 10px;
    height: 5px;
    background: url('/ProjetLicence/img/testimonial_triangle.png') no-repeat;
    position: absolute;
    bottom: -5px;
    left: 40px;
}

.testimonials ul li .client{
    margin-left: 20px;
}

.testimonials ul li .client img.avatar{
    float: left;
    margin-right: 20px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
}

.testimonials ul li .client .client_details{
    float: left;
}

.testimonials ul li .client .client_details h4{
    color: #7b7979;
    font-family: "raleway-semibold";
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.testimonials ul li .client .client_details h5{
    color: #7b7979;
    font-family: "raleway-regular";
    font-size: 12px;
    margin: 0;
    font-weight: normal;
}







/*    blog posts    */
.blog_posts{
    margin-top: 100px;
    padding: 100px 0;
    background: #fafafa;
}

.blog_posts ul{
    list-style: none;
    margin-top: 70px;
}

.blog_posts ul li{
    display: block;
    width: 230px;
    margin-left: 60px;
    float: left;
}

.blog_posts ul li:first-child{
    margin-left: 0;
}

.blog_posts ul li .media .date{
    position: absolute;
    top: 0;
    left: 30px;
    width: 40px;
    padding: 10px 0;
    background: rgba(62, 62, 62, .7);
    text-align: center;
}

.blog_posts ul li .media .date span{
    display: block;
}

.blog_posts ul li .media .date .day{
    color: #fff;
    font-family: "raleway-bold";
    font-size: 18px;
    font-weight: bold;

}

.blog_posts ul li .media .date .month{
    color: #fff;
    font-family: "raleway-regular";
    font-size: 12px;
}

.blog_posts ul li .media{
    width: 230px;
    height: 230px;
    position: relative;
}

.blog_posts ul li h1{
    color: #616161;
    font-family: "raleway-regular";
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
    margin: 20px 0 0 0;
}







/*    footer    */
footer{
    padding: 35px 0;
    overflow: hidden;
}

footer .footer_logo{
    float: left;
}

footer .rights p{
    float: left;
    color: #838181;
    font-family: "raleway-regular";
    font-size: 13px;
    margin: 5px 0 0 40px; 
}

footer .rights p a{
    color: #777;
    font-family: "raleway-semibold";
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}

footer nav ul{
    float: right;
    overflow: hidden;
    list-style: none;
    margin-top: 5px; 
}

footer nav ul li{
    float: left;
    margin-left: 25px;
}

footer nav ul li a{
    color: #838181;
    font-family: "raleway-regular";
    font-size: 13px;
    text-decoration: none;

    transition:all .2s linear;
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -o-transition:all .2s linear;
}

footer nav ul li a:hover{
    color: #616161;
}